
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@400;500&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family:'Tajawal', sans-serif;
scroll-behavior: smooth;
text-decoration: none;
color: white;
}

/* Baggrund */

body{
 min-height: 100vh;
 overflow-x: hidden;  /* gør at billederne ikke rykker sig når de animeres */
  background:  #35183e;
 }

 li {
  list-style: none;
}

li a {
  text-decoration: none;
}

 .header{
  position: fixed;
  top: 0;
  left: 0;  
  width: 100%;
  z-index: 2;
}


/* Navbar or burger menu */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.3rem 2.7rem;
  background-color: rgba(0, 0, 0, 0.173);
 
}

.hamburger {
  display: none;

}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: #ffffff;
  
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.nav-item {
  margin-left: 5rem;
  
}

.nav-link{
  font-size: 1.3rem;
  color: #ffffff;
  
}

.nav-link:hover{
  color: rgb(255, 172, 186);
  opacity: 100%;
  font-weight: 600;
  
}

.nav-logo {
  height: 40px;
}

.nav-logo2{
  height: 60px;
  position: absolute;
  top: 1.1rem;
  left: 2.4rem;
}

.nav-logo3{
  opacity: 0;
  height: 60px;
  position: absolute;
  top: 4%;
  left: 1.5rem;
}

.nav-logo3:hover{
  opacity: 1;
}


@media only screen and (max-width: 1100px) {
  .nav-menu {
      position: fixed;
      right: -100%;
      top: 5.1rem;
      flex-direction: column;
      width: 100%;
      text-align: center;
      transition: 0.3s;
      
  }

  .nav-menu.active {
      right: 0;
      background: #35183e;
      top: 5.1rem;
    
  }

  .nav-item {
      margin: 1.8rem 0;
  }

  .hamburger {
      display: block;
      cursor: pointer;
  }

}

  /* Baggrunds billeder - Forside */


  section{
 position: relative;
 width: 100%;
 height: 130vh;
 padding: 100px;
 display: flex;
justify-content: center;
align-items: center;
overflow: hidden;
 }


 section img#sky{
  position: absolute;
  top: 0%;
  Left: 20;
  bottom:0;
 width: 110%;
 height: 100vh;
 pointer-events: none;
 }

 section img#sol{
     mix-blend-mode: screen;
     width: 300px;
     top: 0;
     margin-top: 300px;
     Left: 55%;
     position: absolute;
     pointer-events: none;
     overflow: hidden;   
 }

 section img#stjerner{
  top: -6%;
  Left: 0%;
 width: 1500px;
 height: -90%;
 position: absolute;
 opacity: 60%;
 object-fit:cover;
 pointer-events: none;

 }

 section img#land{
  position: absolute;
  top: 25%;
  Left: 20;
  bottom:0;
  height: 110vh;
  width: 1700px;
  pointer-events: none;
}

 /* titel på forside */
 .text{
position: absolute;
color: #35183e;
white-space: nowrap;
font-size: 50px;
text-align: center;
z-index: 9;

 }

 @media only screen and (max-width: 780px) {
  .text {
    margin-top:-10%;
  
  }
}

@media only screen and (max-width: 600px) {
  .text {
    margin-top:-27%;
  font-size: 45px;
  }
}



 /* Btn design */
 .btn
{
  text-decoration: none;
  padding: 8px 30px;
  border-radius: 40px;
 background:#fff;
  color: #2b1055;
  font-size: 23px;
  font-weight: 500;
  transform: translateY(90px);
  opacity: 67%;
  margin-right: 10px;
  text-align: center;
 margin-top: 20%;
  }

 

.btn:hover{
  background:rgba(255, 255, 255, 0.714);

}

.btndiv
{margin-left: auto;
  margin-right: auto;
margin-bottom: 10%;
text-align: center;
  box-sizing:content-box;
}

.containerbtn{
  position: relative;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 2px;
}

@media only screen and (max-width: 780px) {
  .containerbtn {
    grid-template-columns: 1fr;
  
  }
}

@media only screen and (max-width: 780px) {
  .btn {
    font-size: 23px;
  width: 125%;
  }
}

/*Layout */

.layouttypes{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 30px;
  position: relative;
    padding: 40px;
    align-content: center;
}

.layout{
  position: relative;
  padding: 20px;
  padding-bottom: 50px;
  color: white;
}

.layout h2{
  padding: 20px;
  text-align: center;
  text-decoration: underline 2px rgb(255, 172, 186);
}
.layout h1{
  text-align: center;
  padding: 20px;
}

.layout2{
  position: relative;
  margin-top: 80px;
  padding: 20px;
  padding-bottom: 50px;
  color: white;
}

.layout2 h1{
  text-align:center;
  padding:20px;
}

  /* Container og grid system */
  
.container{
    position: relative;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 40px;
    border-radius: 40px;
}


@media only screen and (max-width: 780px) {
  .container {
    grid-template-columns: 1fr;
  }
}

.container div{
  background: rgba(195, 180, 180, 0.209);
  border-radius: 40px;
  padding: 15px;
  transition: 0.2s;
}

.container2{
  position: relative;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 30px;
  font-size: 1.2em;
}

@media only screen and (max-width: 780px) {
  .container2 {
    grid-template-columns: 1fr;
  }
}
.containerimg{
  text-align: center;
}

.containerimg img{
  max-width: 80%;
  max-height: 65vh;
}

.container div:hover{
  background-color: rgba(255, 255, 255, 0.384);
  
}

.container h3:hover{
  color: rgb(255, 172, 186);
}

.container h3{
  text-align: center;
  max-height: 50px;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:19px;
  border-radius: 30px;
  padding: 5px; 
font-weight: 500;
transition:0.2s
}

.container3{
  position: relative;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 30px;
  font-size: 1.2em;
  line-height: 1.5em;
}


.container3 h2{
  padding: 20px;
    text-decoration: underline 2px rgb(255, 172, 186);
}
.container3 p{
  padding-bottom: 20px;
}


@media only screen and (max-width: 780px) {
  .container3 {
    grid-template-columns: 1fr;
  }
}


.containercenter{
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 30px;
  font-size: 1.2em;
  line-height: 1.5em;
  align-items: center;
}

.containercenter p{
  padding-bottom: 20px;
}


/* img */
.wine{
 width: 28%;
 margin-top: 18%;
}
.coffee{
  width: 40%;
 margin-top: 32%;
}

@media only screen and (max-width: 780px) {
  .wine, .coffee {
    visibility: hidden;
  }
}

.containerimgtips{
  max-width: 60%;
  max-height: 65vh;
  margin-left: 30%;
}

@media only screen and (max-width: 780px) {
  .containerimgtips {
    content-visibility: hidden;
  }
}

/* link til undersider */

.readmore{
  text-decoration: underline 2px rgb(255, 172, 186);
}

.readmore:hover{
  color: rgb(255, 172, 186);
}


/* highligtet tekst */

.highlight{
font-size: 19px;
font-weight: 500;
color:rgb(255, 172, 186) ;
}

/* Video */
.videos{
  border-radius: 30px;
}


/* Skiftende tekst */

.wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  
}

@media only screen and (max-width: 1240px) {
  .static-txt{
  content-visibility: hidden;
  }
}

@media only screen and (max-width: 1240px) {
  .dynamic-txts li.typing span{
  font-size: 58px;
  }
}



.wrapper .static-txt{
  color: #fff;
  font-size: 64px;
  font-weight: 400; 

}

.wrapper .dynamic-txts{
  margin-left: 15px;
  height: 90px;
  line-height: 90px;
  overflow: hidden;
 
 
}
.dynamic-txts li.typing{
  list-style: none;
  color: rgb(255, 172, 186);
  font-size: 75px;
  font-weight: 400;
  position: relative;
  top: 0%;
  text-decoration:underline;
  animation: slide 12s steps(4) infinite;
  overflow: hidden
}
@keyframes slide {
  100%{
    top: -360px;
  }
}
.dynamic-txts li.typing span{
  position: relative;
  margin: 5px 0;
  line-height: 80px;
}
.dynamic-txts li.typing span::after{
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background: #35183e;
  border-left: 2px solid rgb(255, 172, 186);
  animation: typing 3s steps(10) infinite;
}
@keyframes typing {
  40%, 60%{
    left: calc(100% + 30px);
  }
  100%{
    left: 0;
  }
}

/* About us */
.aboutus{
  text-align: center;
  width:auto;
  height:auto;
  background:rgba(195, 180, 180, 0.209);
   color:#fff;
  display:flex;
  justify-content:center;
  font-size:15px;
   line-height:30px;
   margin-left: 20%;
   margin-right: 20%;
  border-radius: 30px;
  padding: 16px;
}

/* Contact */

#contact{
  text-align: center;
  padding: 10px;
  font-size: 2vh;
  color: white;
}

#contact .socials a{
   font-size:15px;
    color:inherit;
   border:1px solid #ccc;
   width:30px;
    height:30px;
    Line-height:31px;
   display:inline-block;
    text-align:center;
   border-radius:30%;
   margin:8px;
   opacity:50%;
}



#contact .socials a:hover{
  background-color:rgba(255, 172, 186, 0.547) ;
  opacity: 0.9;
}

#contact .copyright{
  margin-top: 13px;
  font-size: 14px;
  opacity: 75%;
  text-align: right;
}


.logolink{
 
  margin: 0 20px;
  flex-direction: row;
  height: 40px;
  opacity: 60%;
  text-align: center;
}

.logolink:hover{
  opacity: 0.5;
}


/* CSS for Quiz */


  .quizbody{
  background-color: #35183e;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-image: url(img/Picasso1.png);
  background-attachment:fixed;
  background-size:100%;
  background-repeat: no-repeat;
  opacity: 80%;
position: relative;
box-sizing: border-box;

}

.quiz-container{
  background-color: #fff;
  width: 600px;
  border-radius: 20px;
  position:absolute;
  max-width: 100%;
  max-height: 100%;
  
}


@media only screen and (max-width: 600px) {
  .quiz-container {
  height: 500px;
 width: 800%;
  }
}
@media only screen and (max-width: 600px) {
  .quiz-header{
  max-height:fit-content;
  }
}

.quiz-header{
  padding: 4rem;
}
#question{
  text-align: center;
  margin: 0;
  color: #2a1055;
font-size: 30px;

 
}

.quiz-container, ul.questionul{
  list-style-type: none;
  padding: 0;
}
.quiz-container, ul.questionul li{
  font-size: 1.2rem;
  margin: 1rem 0;

}
.quiz-container, ul.questionul li label{
  cursor: pointer;
  color: #2a1055;
  font-weight: 500;
  font-size: 21px;
} 
button{
  background-color: #2a1055e6;
  color: #fff;
  border: none;
  display: block;
  width: 100%;
  cursor: pointer;
  font-size: 20px;
  padding: 1.3rem;
  border-radius: 0px 0px 20px 20px;
  
}
.points{
  text-align: center;
}
.retake{
  border-radius: 0 0 0 0;

}
button:hover{
  background-color: #2a10558e;
}



.closequiz{
  background-color: #2b1055;
  color: #fff;
  font-size: 26px;
  border-radius: 20px;
  text-decoration: none;
  height: 40px;
    width: 40px;
    padding: 0;
    display: flex;
justify-content: center;
  position: absolute;
  right: -10px;
    top: -10px;
  
}

.closequiz:after{

 content: "\00d7"; /* Former et 'x' */
 
  }
 
.closequiz:hover{
  background-color: #2a10558e;
}


.points{
  color:#2b1055 ;
  padding: 15px 15px 15px 15px;

}

@media only screen and (max-width: 600px) {
  .points {
 padding: 20%;
  }
}

/* Chronotypes section */

.title1{
  background:rgba(195, 180, 180, 0.209);
   color:#fff;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:20px;
  text-transform:uppercase;
   margin-left: 20%;
   margin-right: 20%;
  border-radius: 30px;
  padding: 5px; 
  text-align: center;
}

.card_inner{
  background:rgba(195, 180, 180, 0.209);
  padding:35px 20px;
  border-radius: 30px;
}
.card_inner:hover{
  background-color:rgba(195, 180, 180, 0.332) ;
  transform: translate(0, -10px);
}

.card_inner img{
  margin-bottom:5px;
  width:40%;
}

.card_inner .chrono{
  color:rgb(255, 172, 186);
  font-weight:900;
  Letter-spacing:2px;
  text-transform:uppercase;
  font-size:20px;
  white-space:nowrap;
  overflow:hidden;
  
}

.card_inner .chrono1{
  color:rgb(255, 172, 186);
  font-size:18px;
  font-weight:600;
  
}

.card_inner .chronotext{
  font-size:15px;
  Line-height:24px;
  color:#ffffff
}

.card_inner .chronotext .chronospan{
  font-size: 16px;
  font-weight: 500;
  color:rgb(255, 172, 186) ;
  width: 100px;
}

/* responsive chrono */

.containerz{
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 30px;
  font-size: 1.2em;
  line-height: 1.5em;
  width:100%;
}

@media  screen and (max-width: 1200px) {
  .containerz{
      grid-template-columns: 1fr 1fr;
  }
}

@media  screen and (max-width: 700px) {
  .containerz{
      grid-template-columns: 1fr;
      text-align: center;
  }
}


/* flourish */

.flourishtext{
  text-align: left;
  font-size: 15px;
}


/* Scrollbar */

::-webkit-scrollbar {
  width: 9px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(255, 172, 186) ;
}

::-webkit-scrollbar-track {
  background-color:rgba(255, 255, 255, 0.389) ;
}
